body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EAEDED;
}

header,
footer {
    background-color: #222F3E;
}

nav,
h1,
h3,
.shopGiftCard {
    color: white;
}

.logo-header {
    width: 120px;
    margin: 10px 10px 10px 30px;
}

ul {
    list-style-type: none;
    background-color: #354758;
    padding: 10px 0px 10px 30px;
    margin: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

main {
    margin: 28px 28px 0px 28px;
}

.shopGiftCard {
    background-color: #F56600;
    text-align: center;
    margin: 30px 0 30px 0;
    padding: 10px;
}

.giftGuides {
    width: 100%;
    height: 20vh;
    position: relative;
    background-image: url("../img/bg-image.png");
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 18px;
    transform: translate(-50%, -50%);
}

.findPerfectGift {
    margin-top: 22px;
    color: black;
    background-color: #F5F6F7;
}

.perfectGift {
    width: 23%;
    display: inline-block;
    height: 400px;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    padding-bottom: 20px;
}

.perfectGift img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #dee2e5;
}

.extra {
    width: 100%;
}

.extra img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid {
    background-color: white;
    width: 23.3%;
    display: inline-block;
    margin: 2% 0 1% 0;
    text-align: center;
}
.space{
    width: 1.6%;
    display: inline-block;
}
.row {
    display: inline;
}

.element {
    display: inline-block;
    width: 40%;
}

.grid p {
    font-weight: bold;
    text-align: left;
}

.grid h2 {
    display: block;
    text-align: left;
    margin-left: 10%;
}

.grid a {
    display: block;
    text-align: left;
    padding: 10% 0 10% 7%;
}

.titleLeft {
    padding: 22px 0 0 22px;
}

.titleLeft h3 {
    display: inline;
    color: black;
}

.titleLeft a,
.grid a {
    font-weight: bold;
    text-decoration: none;
    color: #017185;
    margin-left: 10px;
}

.titleCenter {
    margin-top: 20px;
    padding: 10px 0 10px 0;
    width: 100%;
    text-align: center;
}

.titleCenter p {
    display: inline;
    font-weight: bold;
}

.titleCenter a {
    font-weight: bold;
    text-decoration: none;
    color: #017185;
    margin-left: 10px;
}

.titleCenter img {
    width: 100%;
}

footer {
    display: block;
    text-align: center;
}

footer a {
    background-color: #354758;
    display: block;
    color: white;
    font-weight: bold;
    padding: 25px;
}

.logoFooter {
    padding: 100px;
    width: 200px;
}
